<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h2>Bose audio engineering</h2>
      <p>I worked on the early redesign and code for one of Bose’s legacy products, an audio engineering tool which is used in music venues across the globe.</p>
      <p>As well as setting up the initial design system and layout, I also helped to build some of the front-end styling in React alongside the incredible team at <a href="https://instil.co/" target="_blank">Instil</a>.</p>

      <div class="tags">
        <p class="label">Role</p>
        <p class="label">Software Design & UI Engineering</p>
      </div>
      <div class="tags">
        <p class="label">Timeframe</p>
        <p class="label">1.5 years</p>
      </div>
    </div>
  </div>
  <div class="project-gallery">
    <img data-src="/images/bose/bose-1-1x.webp" data-srcset="
    /images/bose/bose-1-1x.webp 960w,
    /images/bose/bose-1-2x.webp 1920w,
    /images/bose/bose-1-3x.webp 2880w,
    /images/bose/bose-1-4x.webp 3840w
    "
   alt="" class="lazy">
    <img data-src="/images/bose/bose-1-1x.webp" data-srcset="
    /images/bose/bose-2-1x.webp 960w,
    /images/bose/bose-2-2x.webp 1920w,
    /images/bose/bose-2-3x.webp 2880w,
    /images/bose/bose-2-4x.webp 3840w
    "
   alt="" class="lazy">
    <img data-src="/images/bose/bose-1-1x.webp" data-srcset="
    /images/bose/bose-3-1x.webp 960w,
    /images/bose/bose-3-2x.webp 1920w,
    /images/bose/bose-3-3x.webp 2880w,
    /images/bose/bose-3-4x.webp 3840w
    "
   alt="" class="lazy">
    <img data-src="/images/bose/bose-1-1x.webp" data-srcset="
    /images/bose/bose-4-1x.webp 960w,
    /images/bose/bose-4-2x.webp 1920w,
    /images/bose/bose-4-3x.webp 2880w,
    /images/bose/bose-4-4x.webp 3840w
    "
   alt="" class="lazy">
  </div>
</article>