<article class="project">
  <div class="project-description">
    <div>
      <h4>Design</h4>
      <h2>Title</h2>
      <p>Lorem ipsum testing 123</p>
    </div>
  </div>
  <div class="project-gallery">
    <div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
    </div>
  </div>
</article>