<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h4>Design</h4>
      <h2>Title</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsa animi blanditiis quaerat, dolores sed sapiente architecto qui id esse illo cumque asperiores ipsam necessitatibus vero at deserunt, eos aliquam!</p>
    </div>
  </div>
  <div class="project-gallery">
    <div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
      <div class="rectangle"></div>
    </div>
  </div>
</article>