<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h2>Electronic Arts connectivity report</h2>
      <p>Working alongside the UX and Engineering team at EA, I helped design a connectivity reporting tool for gamers, now used worldwide.</p>
      <p>Brought in as a contractor, I had the responsibility of leading the product design from 0 → 1, using customer research to inform the designs.</p>
      <div class="tags">
        <p class="label">Role</p>
        <p class="label">Product Design</p>
      </div>
      <div class="tags">
        <p class="label">Timeframe</p>
        <p class="label">16 Weeks</p>
      </div>
      <a href="https://help.ea.com/en/ea-connection-quality-report/" class="project-link label" target="_blank">Visit the site</a>
    </div>
  </div>
  <div class="project-gallery">
    <img data-src="/images/ea/EA-2-1x.webp" data-srcset="
    /images/ea/EA-2-1x.webp 960w,
    /images/ea/EA-2-2x.webp 1920w,
    /images/ea/EA-2-3x.webp 2880w,
    /images/ea/EA-2-4x.webp 3840w
    " alt="" class="lazy shadow image--square">
    <img data-src="/images/ea/EA-3-1x.webp" data-srcset="
    /images/ea/EA-3-1x.webp 960w,
    /images/ea/EA-3-2x.webp 1920w,
    /images/ea/EA-3-3x.webp 2880w,
    /images/ea/EA-3-4x.webp 3840w
    " alt="" class="lazy shadow image--square">

    <div class="comparison shadow">
      <figure class="comparison__before">
        <img data-src="/images/ea/EA-dark-1x.webp" data-srcset="
        /images/ea/EA-dark-1x.webp 900w,
        /images/ea/EA-dark-2x.webp 1800w,
        /images/ea/EA-dark-3x.webp 2700w,
        /images/ea/EA-dark-4x.webp 3600w
        " alt="" class="lazy image--monitor">
      </figure>
      <figure class="comparison__after">
        <img data-src="/images/ea/EA-light-1x.webp" data-srcset="
        /images/ea/EA-light-1x.webp 900w,
        /images/ea/EA-light-2x.webp 1800w,
        /images/ea/EA-light-3x.webp 2700w,
        /images/ea/EA-light-4x.webp 3600w
        " alt="" class="lazy image--monitor">
      </figure>
      <input type="range" class="comparison__slider" step="0.1" value="75" aria-label="Image comparison slider">
    </div>
  </div>
</article>