<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h4>Design</h4>
      <h2>Title</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsa animi blanditiis quaerat, dolores sed sapiente architecto qui id esse illo cumque asperiores ipsam necessitatibus vero at deserunt, eos aliquam!</p>
    </div>
  </div>
  <div class="project-gallery">
    <img src="/images/EA-1.jpg" alt="">
    <img src="/images/EA-2.jpg" alt="">
    <img src="/images/EA-3.jpg" alt="">
    <div class="comparison">
      <figure class="comparison__before">
        <img src="/images/EA-dark.jpg" alt="">
      </figure>
      <figure class="comparison__after">
        <img src="/images/EA-light.jpg" alt="">
      </figure>
      <input type="range" class="comparison__slider" step="0.1" value="75">
    </div>
  </div>
</article>