<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h2>Pitchbooking.com redesign</h2>
      <p>I was fortunate to work with Pitchbooking — a website used to book a range of facilities —  to redesign their entire website, including the marketing page, booking experience, and login flow.</p>
      <p>Working with their engineers, I was tasked with building all of the front-end UI to be implemented with the existing codebase.</p>

      <div class="tags">
        <p class="label">Role</p>
        <p class="label">Web design & UI engineering</p>
      </div>
      <div class="tags">
        <p class="label">Timeframe</p>
        <p class="label">12 Weeks</p>
      </div>
      <a href="https://pitchbooking.com" class="project-link label" target="_blank">Visit the site</a>
    </div>
  </div>
  <div class="project-gallery">
    <video data-src="/images/pitchbooking/pitchbooking.mp4" autoplay muted loop class="lazy shadow"></video>
    <img data-src="/images/pitchbooking/pitchbooking-1-1x.webp" data-srcset="
    /images/pitchbooking/pitchbooking-1-1x.webp 960w,
    /images/pitchbooking/pitchbooking-1-2x.webp 1920w,
    /images/pitchbooking/pitchbooking-1-3x.webp 2880w,
    /images/pitchbooking/pitchbooking-1-4x.webp 3840w
    "
   alt="" class="lazy shadow">
    <img data-src="/images/pitchbooking/pitchbooking-2-1x.webp" data-srcset="
    /images/pitchbooking/pitchbooking-2-1x.webp 960w,
    /images/pitchbooking/pitchbooking-2-2x.webp 1920w,
    /images/pitchbooking/pitchbooking-2-3x.webp 2880w,
    /images/pitchbooking/pitchbooking-2-4x.webp 3840w
    "
   alt="" class="lazy shadow">
    <img data-src="/images/pitchbooking/pitchbooking-3-1x.webp" data-srcset="
    /images/pitchbooking/pitchbooking-3-1x.webp 960w,
    /images/pitchbooking/pitchbooking-3-2x.webp 1920w,
    /images/pitchbooking/pitchbooking-3-3x.webp 2880w,
    /images/pitchbooking/pitchbooking-3-4x.webp 3840w
    "
   alt="" class="lazy shadow">
  </div>
</article>