<article class="project">
  <div class="project-description">
    <div class="project-description__text">
      <h2>Stroll insurance</h2>
      <p>Again working with the team at Instil, I helped bring to life a design system and multiple features for Stroll, a new car insurance platform in Northern Ireland.</p>
      <p>The designs span across both mobile and web, with a simplified quoting flow and portal access.</p>

      <div class="tags">
        <p class="label">Role</p>
        <p class="label">Product Design & Design Systems</p>
      </div>
      <div class="tags">
        <p class="label">Timeframe</p>
        <p class="label">1.5 Years</p>
      </div>
      <a href="https://strollinsurance.co.uk/" class="project-link label" target="_blank">Visit the site</a>
    </div>
  </div>
  <div class="project-gallery">
    <img data-src="/images/stroll/stroll-2-1x.webp" data-srcset="
    /images/stroll/stroll-2-1x.webp 960w,
    /images/stroll/stroll-2-2x.webp 1920w,
    /images/stroll/stroll-2-3x.webp 2880w,
    /images/stroll/stroll-2-4x.webp 3840w
    "
   alt="" class="lazy shadow">
   <img data-src="/images/stroll/stroll-3-1x.webp" data-srcset="
   /images/stroll/stroll-3-1x.webp 960w,
   /images/stroll/stroll-3-2x.webp 1920w,
   /images/stroll/stroll-3-3x.webp 2880w,
   /images/stroll/stroll-3-4x.webp 3840w
   "
  alt="" class="lazy shadow">
    <img data-src="/images/stroll/stroll-1-1x.webp" data-srcset="
    /images/stroll/stroll-1-1x.webp 960w,
    /images/stroll/stroll-1-2x.webp 1920w,
    /images/stroll/stroll-1-3x.webp 2880w,
    /images/stroll/stroll-1-4x.webp 3840w
    "
   alt="" class="lazy shadow">
    <img data-src="/images/stroll/stroll-4-1x.webp" data-srcset="
    /images/stroll/stroll-4-1x.webp 960w,
    /images/stroll/stroll-4-2x.webp 1920w,
    /images/stroll/stroll-4-3x.webp 2880w,
    /images/stroll/stroll-4-4x.webp 3840w
    "
   alt="" class="lazy shadow">
  </div>
</article>