.about {
  z-index: 30;
  scroll-margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--site-margin);
  padding: var(--site-margin);

  &-profile {
    flex-basis: 20ch;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;

    img {
      max-width: 20rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      position: sticky;
      top: 20%;
    }
  }

  &-bio {
    flex-basis: 0;
    flex-grow: 3;
    min-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      & + * {
        margin-top: 1em;
      }
    }

    h2 {
      max-width: 17ch;
      margin-bottom: 1rem;
    }

    p {
      max-width: 40ch;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 2rem;
      max-width: 40ch;
    }
  }
}

.callout {
  padding: 1rem;
  background-color: var(--grey);
  border-radius: .5rem;
}