.about {
  z-index: 30;
  scroll-margin: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: var(--site-margin);

  &-profile {
    flex-basis: 20ch;
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;

    img {
      max-width: 20rem;
      aspect-ratio: 1 / 1;
      vertical-align: middle;
    }

    figure {
      &::after {
        content: '';
        inset: 0;
        position: absolute;
        background: var(--underline);
        opacity: .2;
        border-radius: .5rem;
        mix-blend-mode: color;
      }
    }
  }

  &-bio {
    flex-basis: 0;
    flex-grow: 3;
    min-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      & + * {
        margin-top: 1em;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}

.about-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .75rem;
  max-width: 40ch;
}

// .callout {
//   padding: 1rem;
//   background-color: var(--grey);
//   border-radius: .5rem;
// }