footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 4rem var(--site-margin) 2rem var(--site-margin);
  color: var(--text);
  z-index: 10;
  border-bottom: .25rem solid var(--underline);
  background-color: var(--bg-secondary);
  position: sticky;
  bottom: 0;
  z-index: 1;

  div {
    z-index: 2;
  }

  ul {
    margin-top: 1rem;
    list-style-type: none;
  }

  li + li {
    margin-top: .5rem;
  }

  small {
    display: block;
    margin-top: 3rem;
  }

  svg {
    position: absolute;
    right: var(--site-margin);
    top: 50%;
    transform-origin: right center;
    transform: translateY(-50%) scale(1);
    width: 50%;
    min-width: 40rem;
    stroke: var(--text);
    opacity: .2;
    stroke-width: .5px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 60%;
    height: 2vw;
  }
}