.intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 3rem var(--site-margin);
  color: var(--text);
  background-color: var(--bg);
  position: sticky;
  top: 0;
  min-height: 80vh;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);

  &::after {
    [data-theme="neo"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: 10;

      background: repeating-linear-gradient(transparent, transparent .5rem, hsl(149, 59%, 12%) .5rem, hsl(149, 59%, 12%) .5625rem);
      filter: blur(.1rem);
      mix-blend-mode: difference;
      opacity: .7;
      animation: lines 80s infinite;
      background-size: 100% .5625rem;

      @keyframes lines {
        from {
          background-position-y: 0%;
        }

        to {
          background-position-y: 100%;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    [data-theme="blueprint"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: -1;

      background: repeating-linear-gradient(transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem)),
      repeating-linear-gradient(90deg, transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem));
      background-size: 100% calc(var(--site-margin) + 0.09375rem);
      opacity: .1;
    }
  }
}


.intro__description {
  width: auto;
  margin-top: 2rem;
  margin-left: auto;
  p {
    color: var(--text);
    max-width: 47ch;
  
    + * {
      margin-top: .75em;
    }
  }
}

.intro__title {
  font-size: calc(24.65vw - (var(--site-margin)));

  display: flex;
  flex-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 900;
  transform: translateX(-.74%);
  letter-spacing: -.01em;

  margin-top: calc(3rem + 2vmax);

  color: var(--text);
  opacity: 1;
  
  --layer-1-y: calc((var(--scrollY-pos) * .05px) + .75vw);
  --layer-2-y: calc((var(--scrollY-pos) * .1px) + 1.5vw);
  --layer-3-y: calc((var(--scrollY-pos) * .15px) + 2.25vw);

  --layer-1-x: 0;
  --layer-2-x: 0;
  --layer-3-x: 0;

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: .5;
    z-index: 1;
  }

  &::before {
    top: -25%;
  }

  &::after {
    top: 100%;
  }
}

.letter {
  text-shadow: var(--layer-1-x) var(--layer-1-y) 0px var(--shadow-1),
  var(--layer-2-x) var(--layer-2-y) 0px var(--shadow-2),
  var(--layer-3-x) var(--layer-3-y) 0px var(--shadow-3);
  transition: transform .1s ease, text-shadow .1s ease;
  transform-origin: center;
  display: inline-block;
  margin: 0;
  will-change: transform, text-shadow;
  backface-visibility: hidden;
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 0 .04em;
  margin: 0 -.04em;
  transform: translate3d(0,0,0);
  &::selection {
    background: none;
    color: var(--text);
  }

  [data-theme="neo"] & {
    text-shadow: var(--glow), var(--layer-1-x) var(--layer-1-y) 0px var(--shadow-1),
    var(--layer-2-x) var(--layer-2-y) 0px var(--shadow-2),
    var(--layer-3-x) var(--layer-3-y) 0px var(--shadow-3);
  }

  &:hover, &.active {
    transform: translate3D(0, calc(var(--layer-3-y)/3), 0) scale(.995);
    color: var(--text-pressed);
    text-shadow: var(--text-shadow);
  }

  &:nth-child(1 of .letter) {
    letter-spacing: -.05em;
  }

  &:nth-child(2 of .letter) {
    letter-spacing: .001em;
  }

  &:nth-child(4 of .letter) {
    margin-left: clamp(0em, 3vw, .4em);
  }
}