body {
  background-color: var(--bg);
  color: var(--text);
}

main {
  background-color: var(--bg);
  box-shadow: var(--shadow);

  &::after {
    [data-theme="neo"] & {
      content: '';
      position: fixed;
      pointer-events: none;
      inset: 0;
      z-index: 10;
  
      background: repeating-linear-gradient(transparent, transparent .5rem, hsl(149, 59%, 12%) .5rem, hsl(149, 59%, 12%) .5625rem);
      filter: blur(.1rem);
      mix-blend-mode: difference;
      opacity: .5;
      background-size: 100% .5625rem;
    }
  
    [data-theme="blueprint"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: -1;
  
      background: repeating-linear-gradient(transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem)),
      repeating-linear-gradient(90deg, transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem));
      background-size: 100% calc(var(--site-margin) + 0.09375rem);
      opacity: .1;
    }
  }
}