body {
  background-color: var(--bg);
  color: var(--text);

  @media (min-width: 800px) {
    padding-left: 8.8rem;
  }
  
  &::after {
    [data-theme="neo"] & {
      content: '';
      position: fixed;
      pointer-events: none;
      inset: 0;
      z-index: 10;
  
      background: repeating-linear-gradient(transparent, transparent .5rem, hsl(149, 59%, 12%) .5rem, hsl(149, 59%, 12%) .5625rem);
      filter: blur(.1rem);
      mix-blend-mode: difference;
      opacity: .7;
      background-size: 100% .5625rem;
    }
  
    [data-theme="blueprint"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: -1;
  
      background: repeating-linear-gradient(transparent, transparent 1rem, hsl(0, 0%, 100%) 1rem, hsl(0, 0%, 100%) calc(1rem + 0.09375rem)),
      repeating-linear-gradient(90deg, transparent, transparent 1rem, hsl(0, 0%, 100%) 1rem, hsl(0, 0%, 100%) calc(1rem + 0.09375rem));
      background-size: 100% calc(1rem + 0.09375rem);
      opacity: .1;
    }
  }
}