body {
  background-color: var(--bg);
  color: var(--text);

  @media (min-width: 800px) {
    padding-left: 8.8rem;
  }
  
  &::after {
    [data-theme="neo"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: 10;
  
      background: repeating-linear-gradient(transparent, transparent .5rem, hsl(149, 59%, 12%) .5rem, hsl(149, 59%, 12%) .5625rem);
      filter: blur(.1rem);
      mix-blend-mode: difference;
      opacity: .7;
      animation: lines 500s infinite;
      background-size: 100% .5625rem;
  
      @keyframes lines {
        from {
          background-position-y: 0%;
        }
  
        to {
          background-position-y: 100%;
        }
      }
  
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  
    [data-theme="blueprint"] & {
      content: '';
      position: absolute;
      pointer-events: none;
      inset: 0;
      z-index: -1;
  
      background: repeating-linear-gradient(transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem)),
      repeating-linear-gradient(90deg, transparent, transparent var(--site-margin), hsl(0, 0%, 100%) var(--site-margin), hsl(0, 0%, 100%) calc(var(--site-margin) + 0.09375rem));
      background-size: 100% calc(var(--site-margin) + 0.09375rem);
      opacity: .1;
    }
  }
}