header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem var(--site-margin);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: var(--text);
  transition: padding .1s ease;

  ::selection {
    background-color: var(--yellow);
  }

  &.project-visible {
    background-color: var(--bg);
    // padding: .25rem var(--site-margin);
  }
}

nav {
  display: flex;
  gap: 1rem;
  
  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;

    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: var(--text);
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 0);
      transition: all .3s ease;
    }

    &.active, &:hover, &:focus {
      opacity: 1;
    }

    &.active::after {
      opacity: 1;
      transform: translate(-50%, -120%);
    }
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  transition: opacity 0.15s ease, transform .15s ease;
  opacity: 0.6;
  color: inherit;
  transform-origin: left center;
  transform: scale(.8);
  
  .project-visible & {
    transform: scale(.8);
  }

  &__inner {
    color: inherit;
    stroke: currentColor;
    stroke-width: 2.5px;
    width: 2.5rem;
  }

  &:hover {
    opacity: .4;
  }
}

.copy {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    background-color: var(--shadow-2);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.15s ease;
  }

  &:hover::before {
    transform: scaleY(1);
  }

  &::after {
    content: 'Copy to clipboard';

    font-size: 0.75rem;
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    width: max-content;
    pointer-events: none;
    transition: all 0.15s ease;
  }

  &:hover::after {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &.active {
    &::after {
      content: 'Copied!';
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}