*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  background-color: var(--bg);
  color: var(--white);
  overflow-x: hidden;
}

.visually-hidden { 
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

a {
  text-decoration: none;
  color: var(--text);
}

a[target] {
  background-image: linear-gradient(var(--underline), var(--underline));
  background-size: 100% 12%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: background-size .15s ease;
  
  &:hover {
    background-size: 100% 45%;
  }
}

::selection {
  background: var(--text);
  color: var(--bg);

  [data-theme="light"] & {
    background: var(--selection-bg);
    color: var(--text);
  }

  [data-theme="light"] .project-visible & {
    color: var(--bg);
  }

  [data-theme="dark"] & {
    color: var(--black);
  }

  [data-theme="blueprint"] .work &, [data-theme="international"] .work & {
    background: var(--bg);
    color: var(--text);
  }
}

*:focus-visible {
  outline: 2px solid var(--text);
  outline-offset: 2px;

  &::before {
    display: none;
  }

  &::after {
    color: var(--text);

    [data-theme="light"] .project-visible & {
      color: var(--bg);
    }
  }

  [data-theme="light"] .project-visible & {
    outline-color: var(--bg);
    // color: var(--bg);
  }
}

.scroll-position {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: transparent;
  z-index: -10;
}

body {
  opacity: 0;
  animation: fade-in .5s ease-out .2s forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

main {
  background-color: var(--white);
  color: var(--black);
  z-index: 4;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: .25rem;
}

.image--square {
  aspect-ratio: 1 / 1;
}

.image--monitor {
  aspect-ratio: 4 / 3;
}
