@font-face {
  font-family: 'Obviously';
  src: url('/fonts/Obviously-NarrowMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Obviously';
  src: url('/fonts/Obviously-NarrowBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Obviously';
  src: url('/fonts/Obviously-NarrowBlack.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Obviously';
  src: url('/fonts/Obviously-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Obviously', sans-serif;
  color: var(--black);
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 800;
  letter-spacing: -.01em;
  line-height: 100%;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 150%;
}
