@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/DegularDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mori';
  src: url('/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: clamp(1rem, .8vw, 10rem);
}

body {
  font-family: 'Mori', sans-serif;
  font-weight: 500;
  color: var(--black-90);
}

h1, h2, h3 {
  font-family: 'Degular', sans-serif;
  line-height: 100%;
}

h2 {
  font-size: calc(1.25vw + 2.25rem);
  line-height: 85%;
  letter-spacing: 0.01em;
  font-weight: 500;
}

h3 {
  font-size: calc(1.25vw + 1.75rem);
  line-height: 85%;
  letter-spacing: 0.01em;
  font-weight: 500;
}

h4, .label {
  font-family: 'Degular';
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 1rem;
}

p {
  line-height: 150%;
  letter-spacing: -.015em;
  font-weight: 500;
  font-size: clamp(1.1rem, 1.2vw, 10rem);
}

.large {
  line-height: 110%;
  letter-spacing: -.015em;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.5vw, 10rem);
}

a {
  font-size: inherit;
}

nav {
  font-size: clamp(1rem, .8vw, 10rem);
}