@font-face {
  font-family: 'Suisse';
  src: url('/fonts/SuisseIntl-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('/fonts/DepartureMono-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Suisse', sans-serif;
  font-weight: 400;
  color: var(--black-90);
font-size: clamp(1rem, .8vw, 10rem);
}

h1, h2, h3 {
  line-height: 100%;
}

h2, .large {
  line-height: 120%;
  letter-spacing: -.04em;
  font-weight: 400;
  font-size: calc(1.25vw + 1.125rem);
}

h4, .label {
  font-family: 'Departure Mono', monospace;
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 100%;
}

a {
  font-size: inherit;
}

.text-secondary {
  color: var(--text-secondary);
}