@property --hue {
  initial-value: 203;
  inherits: false;
  syntax: '<number>';
}

:root {
  --site-margin: clamp(1rem, 3vw, 1.75rem);

  --white: hsl(0, 0%, 100%);
  --grey: hsla(0, 0%, 0%, 0.05);
  --black: hsl(0, 0%, 9%);
  
  --gold-bg: hsl(43, 100%, 50%);
  --gold-text: var(--white);
  --gold-text-pressed: var(--white);
  --gold-text-shadow: 0px .015em hsl(43, 85%, 34%);
  --gold-shadow-1: hsl(43, 91%, 38%);
  --gold-shadow-2: hsl(43, 91%, 42%);
  --gold-shadow-3: hsl(43, 91%, 47%);
  --gold-selection: hsl(43, 91%, 47%);

  --blue-bg: hsl(223, 100%, 49%);
  --blue-text: var(--white);
  --blue-text-pressed: var(--white);
  --blue-text-shadow: 0px .015em hsl(223, 100%, 32%);
  --blue-shadow-1: hsl(223, 100%, 38%);
  --blue-shadow-2: hsl(223, 100%, 42%);
  --blue-shadow-3: hsl(223, 100%, 45%);
  --blue-selection: hsl(223, 100%, 45%);
  
  --green-bg: hsl(149, 59%, 8%);
  --green-text: hsl(115, 100%, 49%);
  --green-text-pressed: hsl(115, 100%, 49%);
  --green-text-shadow: 0 0 8px var(--text), 0px .02em hsla(149, 59%, 1%, .2);
  --green-shadow-1: hsl(118, 55%, 39%);
  --green-shadow-2: hsl(122, 48%, 30%);
  --green-shadow-3: hsl(127, 50%, 20%);
  --green-selection: hsl(127, 50%, 20%);

  --glow: 0 2px 4px transparent;

  @keyframes hue-rotate {
    0%, 100% {
      --hue: 0;
    } 
    50% {
      --hue: 360;
    }
  }

  --rain-bg: hsl(var(--hue), 31%, 93%);
  --rain-text: hsl(var(--hue), 16%, 24%);
  --rain-text-pressed: hsla(var(--hue), 16%, 28%, .95);
  --rain-text-shadow: 0px 8px 8px var(--bg), 0 0 0 hsl(var(--hue), 16%, 28%), 0px 8px 8px var(--bg);
  --rain-shadow-1: hsla(var(--hue), 7%, 50%, 0.9);
  --rain-shadow-2: hsla(var(--hue), 7%, 70%, 0.9);
  --rain-shadow-3: hsla(var(--hue), 7%, 80%, 0.9);
  --rain-selection: hsla(var(--hue), 7%, 80%, 0.5);

  animation: hue-rotate 60s linear infinite -10s;
}

[data-theme="rain"] {
  --bg: var(--rain-bg);
  --text: var(--rain-text);
  --text-pressed: var(--rain-text-pressed);
  --text-shadow: var(--rain-text-shadow);
  --shadow-1: var(--rain-shadow-1);
  --shadow-2: var(--rain-shadow-2);
  --shadow-3: var(--rain-shadow-3);
  --selection: var(--rain-selection);
}

[data-theme="gold"] {
  --bg: var(--gold-bg);
  --text: var(--gold-text);
  --text-pressed: var(--gold-text-pressed);
  --text-shadow: var(--gold-text-shadow);
  --shadow-1: var(--gold-shadow-1);
  --shadow-2: var(--gold-shadow-2);
  --shadow-3: var(--gold-shadow-3);
  --selection: var(--gold-selection);
}

[data-theme="blueprint"] {
  --bg: var(--blue-bg);
  --text: var(--blue-text);
  --text-pressed: var(--blue-text-pressed);
  --text-shadow: var(--blue-text-shadow);
  --shadow-1: var(--blue-shadow-1);
  --shadow-2: var(--blue-shadow-2);
  --shadow-3: var(--blue-shadow-3);
  --selection: var(--blue-selection);
}

[data-theme="neo"] {
  --bg: var(--green-bg);
  --text: var(--green-text);
  --text-pressed: var(--green-text-pressed);
  --text-shadow: var(--green-text-shadow);
  --shadow-1: var(--green-shadow-1);
  --shadow-2: var(--green-shadow-2);
  --shadow-3: var(--green-shadow-3);
  --glow: 0 0 8px var(--text);
  --selection: var(--green-selection);
}