.work {
  scroll-margin: 6rem;
  z-index: 20;
  padding-bottom: 4rem;

  a {
    color: inherit;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: var(--site-margin);
  gap: var(--site-margin);
  z-index: 20;

  &-description {
    flex-basis: 30ch;
    flex-grow: 2;
    padding-bottom: 2rem;

    &__text {
      position: sticky;
      top: 8rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.5rem;
      z-index: 10;
    }
  }

  &-gallery {
    flex-basis: 0;
    flex-grow: 3;
    min-width: 65%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background: var(--white);
    padding-bottom: 4rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
      gap: .2rem;
    }
  }

  h2 {
    margin-bottom: .25em;
    margin-top: .25em;
  }

  h2, p {
    max-width: 97.5%;
  }
}

.tags {
  padding-top: 1rem;
  border-top: .1rem solid var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.comparison {
  display: grid;
  --slider-pos: 50%;

  &__before {
    mask: linear-gradient(to right, #000 0, var(--slider-pos, 50%), #0000 0);
  }

  &__after {
    mask: linear-gradient(to right, #0000 0, var(--slider-pos, 50%), #000 0);
  }
  
  figure {
    display: grid;
    place-content: center;
    grid-area: 1 / 1;

    img {
      width: 100vw;
    }
  }

  &__slider {
    z-index: 5;
    appearance: none;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;

    &::-webkit-slider-thumb {
      appearance: none;
      width: .3rem;
      border-radius: 1rem;
      position: absolute;
      top: -.75rem;
      bottom: -.75rem;
      left: var(--slider-pos);
      transform: translateX(-50%);
      background: linear-gradient(0deg, red, purple);
      box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    }

    &::-moz-range-thumb {
      appearance: none;
      width: .3rem;
      border-radius: 1rem;
      position: absolute;
      top: -.75rem;
      bottom: -.75rem;
      left: var(--slider-pos);
      transform: translateX(-50%);
      background: linear-gradient(0deg, red, purple);
      box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    }
  }
}