.work {
  background-color: var(--white);
  color: var(--black);
  margin: 0 calc(var(--site-margin) / 2);
  border-radius: 1rem;

  ::selection {
    background-color: var(--yellow);
  }
}

.project {
  display: flex;
  flex-wrap: wrap;

  &-description {
    padding: 4rem var(--site-margin);
    flex-basis: 30rem;
    flex-grow: 2;

    &__text {
      position: sticky;
      top: calc(15vh + 5rem);
      max-width: 65ch;
    }
  }

  &-gallery {
    flex-basis: 0;
    flex-grow: 3;
    min-width: 60%;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  }

  p {
    margin-top: 2rem;
  }
}

.rectangle {
  height: 100vh;
  width: 100%;
  background: rgb(14, 14, 14);
  opacity: .5;
  margin-top: 10px;
}