---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import '../styles/main.scss';
---

<Layout title="Dan Gold | Designer & Developer">
	<header>
		<Logo />

		<nav>
			<a href="#intro">Intro</a>
			<a href="#showcase">Showcase</a>
			<a href="#archive">Archive</a>
			<a href="#about">About</a>
		</nav>
	</header>

	<main>
		<section class="intro">
			<h1>Dan Gold</h1>
		</section>
		<section class="project">
			<div class="project-description">
				<div>
					<h2>Title</h2>
					<p>Lorem ipsum testing 123</p>
				</div>
			</div>
			<div class="project-gallery">
				<div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
				</div>
			</div>
		</section>
		<section class="project">
			<div class="project-description">
				<div>
					<h2>Title</h2>
					<p>Lorem ipsum testing 123</p>
				</div>
			</div>
			<div class="project-gallery">
				<div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
				</div>
			</div>
		</section>
		<section class="project">
			<div class="project-description">
				<div>
					<h2>Title</h2>
					<p>Lorem ipsum testing 123</p>
				</div>
			</div>
			<div class="project-gallery">
				<div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
					<div class="rectangle"></div>
				</div>
			</div>
		</section>
	</main>
</Layout>