<section class="about" id="about">
  <div class="about-bio">
    <h2>Hey! I’m Dan — a designer-who codes, with 6+ years of experience building brands and products for the web.</h2>
    <p>Most recently I worked as a designer and developer at <a href="https://littlethunder.co" target="_blank">Little Thunder</a> — a studio helping businesses big and small go from idea to launch.</p>
    <p>Whether it’s branding, design systems, or product design, I have a passion for sweating the details — from the big-picture strategy, down to the micro-interactions. I have always loved working at the intersection of design and code, and being able to build things from scratch.</p>
    <p>In my spare time you can find me playing the drums, learning Spanish, and nerding out on well-kerned type!</p>
    
    <p class="callout">I'm currently looking for my next role in a design-centric company. <br> Feel free to get in touch!</p>
  </div>
  <div class="about-profile">
    <figure>
      <img data-src="/images/profile-picture.webp"
         alt="" class="lazy shadow">
    </figure>
   <div class="about-links">
     <a class="large" href="mailto:hello@dan.gold">hello@dan.gold</a>
     <a href="https://twitter.com/itsdangold" class="label" target="_blank">Twitter</a>
     <a href="https://www.linkedin.com/in/itsdangold/" class="label" target="_blank">LinkedIn</a>
     <a href="https://github.com/itsdangold" class="label" target="_blank">Github</a>
     <a href="https://read.cv/itsdangold" class="label" target="_blank">Resume</a>
   </div>
  </div>
</section>