<section class="about" id="about">
  <figure class="about-profile">
    <img data-src="/images/profile-picture.webp"
   alt="" class="lazy">
  </figure>
  <div class="about-bio">
    <h2>Hey! I’m Dan, a designer-who-codes. Originally from the UK, now living in the States!</h2>
    <p>I have 6+ years of experience across web & product design. Most recently I worked as a designer and developer at <a href="https://littlethunder.co" target="_blank">Little Thunder</a> — a studio helping businesses big and small go from idea to launch.</p>
    <p>Whether it’s branding, design systems, or product design, I have a passion for sweating the details — from the big-picture strategy, down to the micro-interactions. I have always loved working at the intersection of design and code, and being able to build things from scratch.</p>
    <p>In my spare time you can find me playing the drums, learning Spanish, and nerding out on well-kerned type!</p>

    <p class="callout">I'm currently looking for my next role in a design-centric company. Feel free to get in touch!</p>
    <div class="about-bio__links">
      <a href="https://twitter.com/itsdangold" target="_blank" class="large">Twitter</a>
      <a href="https://www.linkedin.com/in/itsdangold/" target="_blank" class="large">LinkedIn</a>
      <a href="https://github.com/itsdangold" target="_blank" class="large">Github</a>
      <button class="copy large" aria-label="Copy email" type="button">hello@dan.gold</button>
    </div>
  </div>
</section>