<footer>
  <div>
    <p class="label">Credits</p>
    <ul>
      <li>Typefaces: <a href="https://ohnotype.co/fonts/degular" target="_blank">Degular</a>, <a href="https://pangrampangram.com/products/neue-montreal" target="_blank">Neue Montreal</a> & <a href="https://pangrampangram.com/products/right-grotesk-mono" target="_blank">Right Grotesk Mono</a></li>
      <li>Framework: <a href="https://astro.build/" target="_blank">Astro</a></li>
      <li>Hosting: <a href="https://www.netlify.com/" target="_blank">Netlify</a></li>
      <li>Code: Good ol' HTML, CSS and a sprinkle of JS</li>
      <li>Designed and built with my own two hands</li>
    </ul>
    <small>© Copyright now and forever</small>
  </div>

  <svg viewBox="0 0 86 170" fill="none" stroke="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 145V161L15 169M1 145L15 153M1 145L10.5 139.5L29 129L48 118.143M15 169V153M15 169L74.9228 134.758C81.1543 131.198 85 124.571 85 117.394V57.1245C85 51.7179 82.0623 47.3258 77.9545 44.974M15 153L64.9537 124.455C68.6926 122.319 71 118.342 71 114.036V63.8927C71 60.8214 67.6821 58.896 65.0154 60.4198L57 65M57 65V90.0361M57 65L43 73M48 118.143L50.9537 116.455C54.6926 114.319 57 110.342 57 106.036V90.0361M48 118.143L35.9309 125.02C26.5978 130.338 15 123.598 15 112.856M57 90.0361C57 94.3424 54.6926 98.3185 50.9537 100.455L34.9846 109.58C32.3179 111.104 29 109.179 29 106.107V97M43 73V82.0361C43 86.3424 40.6926 90.3185 36.9537 92.455L29 97M43 73L35.0463 77.5449C31.3074 79.6815 29 83.6576 29 87.9639V97M77.934 44.9623L77.9545 44.974M77.934 44.9623C73.8776 42.6488 68.6852 42.3227 64.0541 44.9691L25.0772 67.2416C18.8457 70.8024 15 77.4293 15 84.6065V112.856M77.934 44.9623L71 41M77.9545 44.974L78 45M15 112.856C14.8406 115.455 15.9918 121.316 21.6881 124.793M43 41L51.0463 36.4021M43 41L11.0772 59.2416C4.84572 62.8024 1 69.4293 1 76.6065V106.036C1 110.342 3.30743 114.319 7.04633 116.455L21.6881 124.793M43 41V9M51.0463 36.4021C54.7355 34.294 59.2645 34.294 62.9537 36.4021M51.0463 36.4021C52.8909 35.348 54.9455 34.821 57 34.821M62.9537 36.4021L71 41M62.9537 36.4021C61.1091 35.348 59.0545 34.821 57 34.821M71 41V9M21.6881 124.793L22.5 125.256C22.2196 125.107 21.9491 124.953 21.6881 124.793ZM57 17L71 9M57 17L43 9M57 17V34.821M71 9L57 1L43 9" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</footer>