<section class="intro" id="intro">
  <h1>
    <span class="visually-hidden">Dan Gold</span>
    <span class="letter" data-letter="d">D</span>
    <span class="letter" data-letter="a">a</span>
    <span class="letter" data-letter="n">n</span>
    <span class="letter" data-letter="g">G</span>
    <span class="letter" data-letter="o">o</span>
    <span class="letter" data-letter="l">l</span>
    <span class="letter" data-letter="d">d</span>
  </h1>
  <p>I’m a product designer and front-end developer; focusing on crafting digital products that are beautiful, intuitive, and accessible.</p>
</section>