<section class="intro">
  <h1 class="intro__title">
    <span class="visually-hidden">Dan Gold</span>
    <span class="letter" data-letter="d">D</span>
    <span class="letter" data-letter="a">a</span>
    <span class="letter" data-letter="n">n</span>
    <span class="letter" data-letter="g">G</span>
    <span class="letter" data-letter="o">o</span>
    <span class="letter" data-letter="l">l</span>
    <span class="letter" data-letter="d">d</span>
  </h1>
  <div class="intro__description">
    <p class="large">I’m a product designer and front-end developer with 6+ years of experience — focusing on crafting digital products that are beautiful, intuitive, and accessible.</p>
    <p class="large">I’m currently looking for my next role, <a href="mailto:hello@dan.gold" target="_self">feel free to reach out!</a></p>
  </div>
</section>