
---

---


<a href="#intro" class="nav-logo">
  <svg viewBox="0 0 86 170" fill="none" stroke="none" xmlns="http://www.w3.org/2000/svg" class="nav-logo__inner">
    <path d="M1 161V145L15 153V169L1 161Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M57 65L65.0154 60.4197C67.6821 58.896 71 60.8214 71 63.8927V114.036C71 118.342 68.6926 122.319 64.9537 124.455L15 153L1 145L10.5 139.5L29 129L48 118.143L50.9537 116.455C54.6926 114.319 57 110.342 57 106.036V90.0361V65Z" fill="inherit"/>
    <path d="M48 118.143L50.9537 116.455C54.6926 114.319 57 110.342 57 106.036V90.0361V65L65.0154 60.4197C67.6821 58.896 71 60.8214 71 63.8927V114.036C71 118.342 68.6926 122.319 64.9537 124.455L15 153L1 145L10.5 139.5L29 129L48 118.143ZM48 118.143L35.9309 125.02" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M43 73L57 65V90.0361C57 94.3424 54.6926 98.3185 50.9537 100.455L34.9846 109.58C32.3179 111.104 29 109.179 29 106.107V97L36.9537 92.455C40.6926 90.3185 43 86.3424 43 82.0361V73Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M85 117.394V57.1245C85 51.7179 82.0623 47.3258 77.9545 44.974L77.934 44.9623C73.8776 42.6488 68.6852 42.3227 64.0541 44.9691L25.0772 67.2416C18.8457 70.8024 15 77.4293 15 84.6065V112.856C15 123.598 26.5978 130.338 35.9309 125.02L48 118.143L50.9537 116.455C54.6926 114.319 57 110.342 57 106.036V90.0361C57 94.3424 54.6926 98.3185 50.9537 100.455L34.9846 109.58C32.3179 111.104 29 109.179 29 106.107V97V87.9639C29 83.6576 31.3074 79.6815 35.0463 77.5449L43 73L57 65L65.0154 60.4197C67.6821 58.8959 71 60.8214 71 63.8927V114.036C71 118.342 68.6926 122.319 64.9537 124.455L15 153V169L74.9228 134.758C81.1543 131.198 85 124.571 85 117.394Z" fill="inherit"/>
    <path d="M77.9545 44.974L77.934 44.9623C73.8776 42.6488 68.6852 42.3227 64.0541 44.9691L25.0772 67.2416C18.8457 70.8024 15 77.4293 15 84.6065V112.856C15 123.598 26.5978 130.338 35.9309 125.02L48 118.143L50.9537 116.455C54.6926 114.319 57 110.342 57 106.036V90.0361C57 94.3424 54.6926 98.3185 50.9537 100.455L34.9846 109.58C32.3179 111.104 29 109.179 29 106.107V97V87.9639C29 83.6576 31.3074 79.6815 35.0463 77.5449L43 73L57 65L65.0154 60.4197C67.6821 58.8959 71 60.8214 71 63.8927V114.036C71 118.342 68.6926 122.319 64.9537 124.455L15 153V169L74.9228 134.758C81.1543 131.198 85 124.571 85 117.394V57.1245C85 51.7179 82.0623 47.3258 77.9545 44.974ZM77.9545 44.974L78 45" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M43 41L51.0463 36.4021C54.7355 34.294 59.2645 34.294 62.9537 36.4021L71 41L77.934 44.9623C73.8776 42.6488 68.6852 42.3227 64.0541 44.9691L25.0772 67.2416C18.8457 70.8024 15 77.4293 15 84.6065V112.856C14.8406 115.455 15.9918 121.316 21.6881 124.793L22.5 125.256C22.2196 125.107 21.9491 124.953 21.6881 124.793L7.04633 116.455C3.30743 114.319 1 110.342 1 106.036V76.6065C1 69.4293 4.84572 62.8024 11.0772 59.2416L43 41Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M71 9L57 17V33V34.821C59.0545 34.821 61.1091 35.348 62.9537 36.4021L71 41V9Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M57 17L43 9V41L51.0463 36.4021C52.8909 35.348 54.9455 34.821 57 34.821V32V17Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M57 17L43 9L57 1L71 9L57 17Z" fill="inherit" stroke="inherit" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</a>