
---

---


<button class="nav-logo">
  <svg viewBox="0 0 88 174" fill="none" xmlns="http://www.w3.org/2000/svg" class="nav-logo__inner">
  <path d="M2 163V147L16 155V171L2 163Z" class="nav-logo__inner--stroke nav-logo__inner--fill" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M58 66.9999L66.0154 62.4197C68.6821 60.8959 72 62.8213 72 65.8926V116.036C72 120.342 69.6926 124.318 65.9537 126.455L16 155L2 147L11.5 141.5L30 131L49 120.143L51.9537 118.455C55.6926 116.318 58 112.342 58 108.036V92.036V66.9999Z" class="nav-logo__inner--fill"/>
    <path d="M49 120.143L51.9537 118.455C55.6926 116.318 58 112.342 58 108.036V92.036V66.9999L66.0154 62.4197C68.6821 60.8959 72 62.8213 72 65.8926V116.036C72 120.342 69.6926 124.318 65.9537 126.455L16 155L2 147L11.5 141.5L30 131L49 120.143ZM49 120.143L36.9309 127.02" class="nav-logo__inner--stroke" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M44 75L58 67V92.0361C58 96.3424 55.6926 100.319 51.9537 102.455L35.9846 111.58C33.3179 113.104 30 111.179 30 108.107V99L37.9537 94.455C41.6926 92.3185 44 88.3424 44 84.0361V75Z" class="nav-logo__inner--stroke nav-logo__inner--fill" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M86 119.393V59.1244C86 53.7178 83.0623 49.3257 78.9545 46.9739L78.934 46.9622C74.8776 44.6487 69.6852 44.3227 65.0541 46.969L26.0772 69.2415C19.8457 72.8024 16 79.4293 16 86.6064V114.856C16 125.598 27.5978 132.338 36.9309 127.02L49 120.143L51.9537 118.455C55.6926 116.318 58 112.342 58 108.036V92.0361C58 96.3423 55.6926 100.318 51.9537 102.455L35.9846 111.58C33.3179 113.104 30 111.179 30 108.107V98.9999V89.9638C30 85.6575 32.3074 81.6814 36.0463 79.5449L44 74.9999L58 66.9999L66.0154 62.4197C68.6821 60.8959 72 62.8214 72 65.8926V116.036C72 120.342 69.6926 124.318 65.9537 126.455L16 155V171L75.9228 136.758C82.1543 133.197 86 126.571 86 119.393Z" class="nav-logo__inner--fill"/>
    <path d="M49 120.143L51.9537 118.455C55.6926 116.318 58 112.342 58 108.036V92.0361C58 96.3423 55.6926 100.318 51.9537 102.455L35.9846 111.58C33.3179 113.104 30 111.179 30 108.107V98.9999V89.9638C30 85.6575 32.3074 81.6814 36.0463 79.5449L44 74.9999L58 66.9999L66.0154 62.4197C68.6821 60.8959 72 62.8214 72 65.8926V116.036C72 120.342 69.6926 124.318 65.9537 126.455L16 155V171L75.9228 136.758C82.1543 133.197 86 126.571 86 119.393V59.1244C86 53.7178 83.0623 49.3257 78.9545 46.9739M49 120.143L36.9309 127.02C27.5978 132.338 16 125.598 16 114.856V86.6064C16 79.4293 19.8457 72.8024 26.0772 69.2415L65.0541 46.969C69.6852 44.3227 74.8776 44.6487 78.934 46.9622L78.9545 46.9739M49 120.143L30 131M78.9545 46.9739L79 46.9999" class="nav-logo__inner--stroke" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M44 43L52.0463 38.4021C55.7355 36.294 60.2645 36.294 63.9537 38.4021L72 43L78.934 46.9623C74.8776 44.6488 69.6852 44.3228 65.0541 46.9691L26.0772 69.2416C19.8457 72.8025 16 79.4294 16 86.6065V114.856C15.8406 117.455 16.9918 123.316 22.6881 126.793L23.5 127.256C23.2196 127.107 22.9491 126.953 22.6881 126.793L8.04633 118.455C4.30743 116.319 2 112.342 2 108.036V78.6065C2 71.4293 5.84572 64.8025 12.0772 61.2416L44 43Z" class="nav-logo__inner--fill"/>
    <path d="M44 43L52.0463 38.4021C55.7355 36.294 60.2645 36.294 63.9537 38.4021L72 43L78.934 46.9623C74.8776 44.6488 69.6852 44.3228 65.0541 46.9691L26.0772 69.2416C19.8457 72.8025 16 79.4294 16 86.6065V114.856C15.8333 117.574 17.1 123.86 23.5 127.256L8.04633 118.455C4.30743 116.319 2 112.342 2 108.036V78.6065C2 71.4293 5.84572 64.8025 12.0772 61.2416L44 43Z" class="nav-logo__inner--stroke" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M72 11L58 19V35V36.821C60.0545 36.821 62.1091 37.348 63.9537 38.4021L72 43V11Z" class="nav-logo__inner--stroke nav-logo__inner--fill" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M58 19L44 11V43L52.0463 38.4021C53.8909 37.348 55.9455 36.821 58 36.821V34V19Z" class="nav-logo__inner--stroke nav-logo__inner--fill" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M58 19L44 11L58 3L72 11L58 19Z" class="nav-logo__inner--stroke nav-logo__inner--fill" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>