---
import EA from './projects/EA.astro';
---

<section class="work" id="work">
  <EA />
  <div class="scroll-position"></div>
  <div class="scroll-shadow-position"></div>
</section>

<script>
  const comparison = document.querySelector('.comparison');
  const slider = document.querySelector('.comparison__slider');

  function updateSlider () {
    comparison.style.setProperty('--slider-pos', slider.value + '%');
  }

  updateSlider();

  slider.oninput = () => updateSlider();
  if (slider && comparison) {
    let originalValue = slider.value;
    let isHovering = false;

    comparison.addEventListener('mouseenter', () => {
      isHovering = true;
    });
    
    comparison.addEventListener('mouseleave', () => {
      isHovering = false;
      slider.value = originalValue;
    });

    comparison.addEventListener('mousemove', (e) => {
      if (isHovering) {
        const rect = comparison.getBoundingClientRect();
        
        const x = e.clientX - rect.left;
        const width = rect.width;
        const percentage = (x / width) * 100;
        slider.value = percentage;
        updateSlider();
      }
    });

    slider.addEventListener('change', () => {
      if (!isHovering) {
        originalValue = slider.value;
      }
    });
  }
</script>